USE [master]
GO
/****** Object:  Database [ShadowEntityCore]    Script Date: 3/2/2020 2:02:32 PM ******/
CREATE DATABASE [ShadowEntityCore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShadowEntityCore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ShadowEntityCore.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ShadowEntityCore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ShadowEntityCore_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShadowEntityCore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShadowEntityCore]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 3/2/2020 2:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[LastUpdated] [datetime2](7) NULL,
	[LastUser] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactId], [FirstName], [LastName], [LastUpdated], [LastUser]) VALUES (1, N'Karen', N'Payne', CAST(N'2020-03-02 13:40:28.5583563' AS DateTime2), N'Karens')
SET IDENTITY_INSERT [dbo].[Contact] OFF
USE [master]
GO
